
// keep active events
.keep-active-events-card {
  //--background: url(../../assets/background-3.jpg);
  //height: 200px;
  background-size: cover;

  .ion-no-padding {
    --background: transparent !important;

    .location {
      color: white !important;
    }

    .limitedSeats {
      color: var(--ion-color-danger);
    }
  }

  .activeEventTitle {
    color: #fff !important;
  }

  .summery {
    margin-top: 0px !important;
    padding-top: 0px;
    color: #000 !important;
  }

  .startDate {
    margin-top: 10px !important;
    color: var(--ion-color-success) !important;
  }

  .endDate {
    color: var(--ion-color-success) !important;
  }
}

h4 {
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.keep-spinner {
  //border: 1px solid red;
  text-align: center;
}

// all events part
.all-events-block {
  margin-top: 70px;

  h4 {
    margin-left: 10px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .slidesAllEvents {
    padding: 5px;
  
    .cardAllEvents {
      margin-left: 2px !important;
      margin-right: 2px !important;
    }
  }
}


// all news part
.all-news-block {
  margin-top: 10px;

  .keep-news-title {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  ion-item-sliding {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 15px !important;
  }

  ion-item {
    --min-height: 100px;

    ion-thumbnail {
        height: 100px;
        width: 100px;

        img {
          border-radius: 15px;
        }
    }

    .news-summary {
      white-space: normal;
      color: #000;
    }

    .show-news-details {
      color: var(--ion-color-primary) !important;
    }

    .news-date {
      margin-top: 8px !important;
      font-size: small; 
      color: var(--ion-color-danger) !important;
    }
  }

  .slidesAllEvents {
    padding: 5px;
  
    .cardAllEvents {
      margin-left: 2px !important;
      margin-right: 2px !important;
    }
  }
}

.CountDown {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
}
